:root {
  --hoverColor: #000;
  --hoverUnderlineColor: #000;
  --activeColor: #000;
}

a {
  text-decoration: none !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition-timing-function: ease-out;
  transition-duration: var(--time);
  transition-property: border-bottom, border-color, background, color, fill;
}

body {
  border-top: #ffbc26 5px solid;
}

.e2-text p {
  max-width: 840px;
  color: rgb(55, 53, 47);
}

.nav-link__icon svg {
  stroke: none;
}

.header-menu {
  padding-bottom: 20px;
}

.band-item-inner {
  font-weight: 400 !important;
  color: rgba(0, 0, 0, .65) !important;
  text-decoration: none;
}

.band-item.band-item-parent .band-item-inner {
  color: rgba(0, 0, 0, 1) !important;
}

.band-item-inner:hover {
  color: rgba(0, 0, 0, 1) !important;
}

.band-item.band-item-current .band-item-inner {
  color: rgba(0, 0, 0, 1) !important;
}

.band-item.band-item-current .band-item-inner::after {
  background-color: #000;
}

.e2-note h1 {
  font-size: 46px;
  line-height: 1.3;
}

.e2-text h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}

.e2-text h3 {
  margin-top: 36px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.3;
}

.e2-text h4 {
  margin-top: 36px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.3;
}

.e2-note h1 a {
  text-decoration: none;
}

.e2-note-snippet h1 a {
  text-decoration: none !important;
}

.e2-text-picture div:first-child {
  display: none;
}

.e2-text ul li {
  list-style-type: inherit;
}

.e2-text p,
.e2-text ul,
.e2-text ol,
.e2-text li,
.e2-text pre,
.e2-text blockquote,
.e2-text-audio {
  max-width: 840px;
}

.e2-text p + ul,
.e2-text p + ol {
  margin-top: 0;
}

li > ul {
  margin-top: 10px !important;
}

.e2-note-snippet .e2-note-thumbs {
  display: none;
}

.navbar__photo.navbar-brand a {
  color: transparent;
}

.e2-text h2+h3 {
  margin-top: 36px;
}

.e2-note-favourite-title::after {
  content: "";
}
